@media only screen and (max-width: 58.75rem) {
    html {
        font-size: 13px;
    }
    
    .has-logo {
        display: none;
    }
    .mobile-display {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .landing-content-container {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        max-width: 50%;
    }
    .landing-featured-contact {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 1rem;
    }
}
