@media only screen and (max-width: 58.75rem) {
    html {
        font-size: 13px;
    }
    /* body {
        width: 80%;
    } */
    .has-logo {
        display: none;
    }
    .mobile-display {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}
