body {
    width: 80%;
    margin: 0 auto 0 auto;
    font: 16px 'Muli', sans-serif;
    color: black;
    background-color:  #465775;
}


header {
    max-width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

nav{
    max-width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
ul, h1, h2 {
    font-family: 'Roboto', sans-serif;
    color:  aqua;
    list-style: none;
    align-items: center;
}

main {
    max-width: 1050px;
    margin: 0 auto;
    align-items: center;
    display: grid;
    text-decoration: none;
}

a:active {
    background-color: grey;
    color: white;
    padding: 6px 6px;
    text-align: center;
    display: inline-block;
}

a:hover {
    background-color:grey;
    color: white;
    padding: 6px 6px;
    text-align: center;
    display: inline-block;
    border-style: double;
    border-color: #56e39f;
    font-size: 15px;
}
footer {
    background-color: #5b6c5d;
    height: 80px;
    text-align: center;
}

footer p {
    padding: 30px;
    color: paleturquoise;
}



