@media only screen and (max-width: 33.68rem) {
    .toggle-menu {
        display: block;
        position: absolute;
        top: 0rem;
        right: 1rem;
        max-width: min-content;
        margin: 1rem auto;
        background-color: rgba(0, 0, 0, 0.6);
        text-align: center;
        color: #fff !important;
        padding: 1rem;
        border-radius: .25rem;
        font-size: 25px;
    }
    .nav-list {
        display: block;
        /* width: 100%; */
        position: static;
        line-height: 1rem;
        z-index: 1012;
        left: 0;
        top: 0;
        background-color: #000;
        max-height: 0;
        overflow: hidden;
    }
    .nav-list ul {
        background-color: transparent !important;
    }
    .active {
        max-height: 100%;
    }
    .nav-list ul {
        position: static;
        text-indent: 2rem;
        z-index: 1013;
    }
}